.realtime-view {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}

/* Стили для карточек тегов */
.realtime-view .tag-card {
  transition: box-shadow 0.2s;
}

.realtime-view .device-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.realtime-view .tag-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.realtime-view {
  & .tag-value {
    font-size: 2rem;
    line-height: 1;
  }

  & .tag-value.ant-typography-edit-content {
    width: 80px;
    align-self: center;
    margin-bottom: 0;
    inset-inline-start: 0;
    inset-block-start: 0;
  }
}